@page  "/question"
@inject IJSRuntime JSRuntime;
@inject IUnitOfWork unitofwork;





<div class="col-sm-6">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Create Question</h4>

        </div>
        <div class="card-body">
            <EditForm Model="question">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="col-5">
                        Description :
                    </label>
                    <InputText id="description" @bind-Value="question.Description" />
                </div>
                <div class="form-group">
                    <label class="col-5">
                        A :
                    </label>
                    <InputText id="A" @bind-Value="question.A" />
                </div>

                <div class="form-group">
                    <label class="col-5">
                        B :
                    </label>
                    <InputText id="A" @bind-Value="question.B" />
                </div>
                <div class="form-group">
                    <label class="col-5">
                        C :
                    </label>
                    <InputText id="C" @bind-Value="question.C" />
                </div>
                <div class="form-group">
                    <label class="col-5">
                        D :
                    </label>
                    <InputText id="D" @bind-Value="question.D" />
                </div>
                <div class="form-group">
                    <label class="col-5">
                        CorrectAnswer :
                    </label>

                    <InputSelect id="C" @bind-Value="question.C">
                        <option value="Correct Answer">Correct Answer</option>
                        <option value="A">Answer A</option>
                        <option value="B">Answer B</option>
                        <option value="C">Answer C</option>
                        <option value="D">Answer D</option>
                    </InputSelect>
                </div>

                <div class="form-group">
                    <label class="col-5">
                        Description :
                    </label>
                    <InputText id="description" @bind-Value="question.Description" />
                </div>
                <div class="form-group">
                    <label class="col-5">
                        A :
                    </label>
                    <InputText id="A" @bind-Value="question.A" />
                </div>

                <div class="form-group">
                    <label class="col-5">
                        B :
                    </label>
                    <InputText id="A" @bind-Value="question.B" />
                </div>
                <div class="form-group">
                    <label class="col-5">
                        C :
                    </label>
                    <InputText id="C" @bind-Value="question.C" />
                </div>
                <div class="form-group">
                    <label class="col-5">
                        D :
                    </label>
                    <InputText id="D" @bind-Value="question.D" />
                </div>
                <div class="form-group">
                    <label class="col-5">
                        CorrectAnswer :
                    </label>

                    <InputSelect id="C" @bind-Value="question.C">
                        <option value="Correct Answer">Correct Answer</option>
                        <option value="A">Answer A</option>
                        <option value="B">Answer B</option>
                        <option value="C">Answer C</option>
                        <option value="D">Answer D</option>
                    </InputSelect>
                </div>
                <div class="form-group">
                    <label class="col-5">
                        Question3 :
                    </label>
                    <InputText id="description" @bind-Value="question.Description" />
                </div>
                <div class="form-group">
                    <label class="col-5">
                        A :
                    </label>
                    <InputText id="A" @bind-Value="question.A" />
                </div>

                <div class="form-group">
                    <label class="col-5">
                        B :
                    </label>
                    <InputText id="A" @bind-Value="question.B" />
                </div>
                <div class="form-group">
                    <label class="col-5">
                        C :
                    </label>
                    <InputText id="C" @bind-Value="question.C" />
                </div>
                <div class="form-group">
                    <label class="col-5">
                        D :
                    </label>
                    <InputText id="D" @bind-Value="question.D" />
                </div>
                <div class="form-group">
                    <label class="col-5">
                        CorrectAnswer :
                    </label>

                    <InputSelect id="C" @bind-Value="question.C">
                        <option value="Correct Answer">Correct Answer</option>
                        <option value="A">Answer A</option>
                        <option value="B">Answer B</option>
                        <option value="C">Answer C</option>
                        <option value="D">Answer D</option>
                    </InputSelect>
                </div>
                <div class="form-group">
                    <label asp-for="Description">Question 4</label>
                    <input asp-for="Description" class="form-control-plaintext" placeholder="Question 4" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>


                <div class="form-group float-left">
                    <label asp-for="A"></label>
                    <input asp-for="A" asp-validation-for="A" placeholder="A" class="btn btn-outline-primary float-right" />
                    <span asp-validation-for="A" class=" text-danger"></span>
                </div>
                <div class="form-group float-left">
                    <label asp-for="B"></label>
                    <input asp-for="B" asp-validation-for="B" placeholder="B" class="btn btn-outline-primary float-right" />
                    <span asp-validation-for="B" class=" text-danger"></span>
                </div>
                <div class="form-group float-left">
                    <label asp-for="C"></label>
                    <input asp-for="C" asp-validation-for="C" placeholder="C" class="btn btn-outline-primary float-right" />
                    <span asp-validation-for="C" class=" text-danger"></span>
                </div>
                <div class="form-group float-left">
                    <label asp-for="D"></label>
                    <input asp-for="D" asp-validation-for="D" placeholder="D" class="btn btn-outline-primary float-right" />
                    <span asp-validation-for="D" class=" text-danger"></span>
                </div>
                <div class="form-group float-md-none">

                    <label asp-for="CorrectAnswer">Correct Answer</label>
                    <select asp-for="CorrectAnswer" class="form-control">

                        <option value="A">Answer A</option>
                        <option value="B">Answer B</option>
                        <option value="C">Answer C</option>
                        <option value="D">Answer D</option>
                    </select>

                </div>
                <div class="form-group">
                    <button type="submit" value="Create Exam Test" class="btn btn-primary btn-block ">Create Question</button>
                </div>
            </EditForm>
</div>
        <div class="card-footer">
            <a asp-area="Admin" asp-controller="Question" asp-action="List" class="btn btn-block btn-warning">Back To Exam Test List</a>



        </div>
    </div>
</div>


@code {

    private Question question = new Question();
    private List<GetQuestionVM> questions = new List<GetQuestionVM>();

}
