

@model CreateQuestionDTO
@{
    ViewData["Title"] = "Create";
}

<div class="col-sm-6">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Create Question</h4>
           
        </div>
        <div class="card-body">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

               
                <div class="form-group">
                    <label asp-for="ExamPageId">Choose a Title</label>
                    <select asp-for="ExamPageId" class="form-control">
                        @foreach (var item in Model.ExamPages)
                        {
                            <option value="@item.Id">@item.Title</option>

                        }
                    </select>
                </div>
              
                <div class="form-group">
                    <label asp-for="ExamPageId">Choose a Description</label>
                    <select asp-for="ExamPageId" class="form-control">
                        
                            <p value="@Model.ExamPageId">@Model.DescriptionText</p>
                        
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Description">Question 1</label>
                    <input asp-for="Description" class="form-control-plaintext" placeholder="Question 1" />
                    <span asp-validation-for="Description" class="text-warning"></span>
                </div>


                <div class="form-group float-left">
                    <label asp-for="A"></label>
                    <input asp-for="A" asp-validation-for="A" placeholder="A" class="btn btn-outline-primary float-right" />
                    <span asp-validation-for="A" class=" text-danger "></span>
                </div>
                <div class="form-group float-left">
                    <label asp-for="B"></label>
                    <input asp-for="B" asp-validation-for="B" placeholder="B" class="btn btn-outline-primary float-right" />
                    <span asp-validation-for="B" class=" text-danger"></span>
                </div>
                <div class="form-group float-left">
                    <label asp-for="C"></label>
                    <input asp-for="C" asp-validation-for="C" placeholder="C" class="btn btn-outline-primary float-right" />
                    <span asp-validation-for="C" class=" text-danger"></span>
                </div>
                <div class="form-group float-left">
                    <label asp-for="D"></label>
                    <input asp-for="D" asp-validation-for="D" placeholder="D" class="btn btn-outline-primary float-right" />
                    <span asp-validation-for="D" class=" text-danger"></span>
                </div>
                <div class="form-group float-md-none">

                    <label asp-for="CorrectAnswer">Correct Answer</label>
                    <select asp-for="CorrectAnswer" class="form-control" placeholder="Correct Answer">
                        <option value="Correct Answer">Correct Answer</option>
                        <option value="A">Answer A</option>
                        <option value="B">Answer B</option>
                        <option value="C">Answer C</option>
                        <option value="D">Answer D</option>
                    </select>

                </div>
                <div class="form-group">
                    <label asp-for="Description">Question 2</label>
                    <input asp-for="Description" class="form-control-plaintext" placeholder="Question 2" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>


                <div class="form-group float-left">
                    <label asp-for="A"></label>
                    <input asp-for="A" asp-validation-for="A" placeholder="A" class="btn btn-outline-primary float-right" />
                    <span asp-validation-for="A" class=" text-danger"></span>
                </div>
                <div class="form-group float-left">
                    <label asp-for="B"></label>
                    <input asp-for="B" asp-validation-for="B" placeholder="B" class="btn btn-outline-primary float-right" />
                    <span asp-validation-for="B" class=" text-danger"></span>
                </div>
                <div class="form-group float-left">
                    <label asp-for="C"></label>
                    <input asp-for="C" asp-validation-for="C" placeholder="C" class="btn btn-outline-primary float-right" />
                    <span asp-validation-for="C" class=" text-danger"></span>
                </div>
                <div class="form-group float-left">
                    <label asp-for="D"></label>
                    <input asp-for="D" asp-validation-for="D" placeholder="D" class="btn btn-outline-primary float-right" />
                    <span asp-validation-for="D" class=" text-danger"></span>
                </div>
                <div class="form-group float-md-none">

                    <label asp-for="CorrectAnswer">Correct Answer</label>
                    <select asp-for="CorrectAnswer" class="form-control">

                        <option value="A">Answer A</option>
                        <option value="B">Answer B</option>
                        <option value="C">Answer C</option>
                        <option value="D">Answer D</option>
                    </select>

                </div>
                <div class="form-group">
                    <label asp-for="Description">Question 3</label>
                    <input asp-for="Description" class="form-control-plaintext" placeholder="Question 3" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>


                <div class="form-group float-left">
                    <label asp-for="A"></label>
                    <input asp-for="A" asp-validation-for="A" placeholder="A" class="btn btn-outline-primary float-right" />
                    <span asp-validation-for="A" class=" text-danger"></span>
                </div>
                <div class="form-group float-left">
                    <label asp-for="B"></label>
                    <input asp-for="B" asp-validation-for="B" placeholder="B" class="btn btn-outline-primary float-right" />
                    <span asp-validation-for="B" class=" text-danger"></span>
                </div>
                <div class="form-group float-left">
                    <label asp-for="C"></label>
                    <input asp-for="C" asp-validation-for="C" placeholder="C" class="btn btn-outline-primary float-right" />
                    <span asp-validation-for="C" class=" text-danger"></span>
                </div>
                <div class="form-group float-left">
                    <label asp-for="D"></label>
                    <input asp-for="D" asp-validation-for="D" placeholder="D" class="btn btn-outline-primary float-right" />
                    <span asp-validation-for="D" class=" text-danger"></span>
                </div>
                <div class="form-group float-md-none">

                    <label asp-for="CorrectAnswer">Correct Answer</label>
                    <select asp-for="CorrectAnswer" class="form-control">

                        <option value="A">Answer A</option>
                        <option value="B">Answer B</option>
                        <option value="C">Answer C</option>
                        <option value="D">Answer D</option>
                    </select>

                </div>
                <div class="form-group">
                    <label asp-for="Description">Question 4</label>
                    <input asp-for="Description" class="form-control-plaintext" placeholder="Question 4" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>


                <div class="form-group float-left">
                    <label asp-for="A"></label>
                    <input asp-for="A" asp-validation-for="A" placeholder="A" class="btn btn-outline-primary float-right" />
                    <span asp-validation-for="A" class=" text-danger"></span>
                </div>
                <div class="form-group float-left">
                    <label asp-for="B"></label>
                    <input asp-for="B" asp-validation-for="B" placeholder="B" class="btn btn-outline-primary float-right" />
                    <span asp-validation-for="B" class=" text-danger"></span>
                </div>
                <div class="form-group float-left">
                    <label asp-for="C"></label>
                    <input asp-for="C" asp-validation-for="C" placeholder="C" class="btn btn-outline-primary float-right" />
                    <span asp-validation-for="C" class=" text-danger"></span>
                </div>
                <div class="form-group float-left">
                    <label asp-for="D"></label>
                    <input asp-for="D" asp-validation-for="D" placeholder="D" class="btn btn-outline-primary float-right" />
                    <span asp-validation-for="D" class=" text-danger"></span>
                </div>
                <div class="form-group float-md-none">

                    <label asp-for="CorrectAnswer">Correct Answer</label>
                    <select asp-for="CorrectAnswer" class="form-control">

                        <option value="A">Answer A</option>
                        <option value="B">Answer B</option>
                        <option value="C">Answer C</option>
                        <option value="D">Answer D</option>
                    </select>

                </div>
                <div class="form-group">
                    <input type="submit" value="Create Exam Test" class="btn btn-primary btn-block " />
                </div>
            </form>
        </div>
        <div class="card-footer">
            <a asp-area="Admin" asp-controller="Question" asp-action="List" class="btn btn-block btn-warning">Back To Exam Test List</a>

            

        </div>
    </div>
</div>


























